---
layout: default
---

{% assign curDateRaw = site.time | date: '%s' %}


{% capture curDate %} {{ curDateRaw | divided_by:86400 }} {% endcapture %}



raw {{ curDateRaw }}
cur {{ curDate }}

<div class="xxx">

  <h1 class="xxx">Upcoming Events in {{ site.title }}</h1>

  <ul class="xxx">
    <!-- loop through all entries -->
    {% for event in site.posts reversed %}

      {% assign postStartDateRaw = event.date | date: '%s' %}
      {% capture postStartDate %} {{ postStartDateRaw | divided_by:86400 }} {% endcapture %}
      {% capture postStartDateMinusOne %} {{ postStartDate | plus:1 }} {% endcapture %}

        <!-- TODO -->
        <!-- only render event if it has an event url -->

        {% if postStartDateMinusOne >= curDate %}

        <li>

          <span class="xxx">{{ event.date | date: "%a, %b %-d" }}{% if event.end_date %} until {{ event.end_date | date: "%a, %b %-d" }}{% endif %}: </span>
          <strong class="xxx">
            <a href="{{ event.event_url }}">{{ event.title }}</a>
          </strong>
          <span> stamp: {{ postStartDateMinusOne }}</span>
        </li>

      {% endif %}

    {% endfor %}
  </ul>

  <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
 -->
</div>

renderstamp: {{ site.time }}